.App {
  text-align: center;
}

.movies-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.movie {
  max-width: 200px;
}

.movie h4 {
  white-space: wrap;
  margin-bottom: 0.2em;
}
